body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

header {
  margin: 0px;
  border: 1px 0px 1px 0px solid black;
  padding: 15px 0px;
  height: 90px;
  width: 100%;
  background: grey;
}
header h1 {
  margin: 25px 0px 0px calc(50% - 50px);

  font-size: 1.5em;
}
#logo {
  height: 100px;
  width: 100px;

  float: left;
}

#menu {
  margin: 30px auto;
  border: 1px solid black;
  padding: 10px 0px;
  height: 100px;
  max-width: 960px;
  background: #CCC;

  text-align: left;
  
  clear: both;

  display: flex;
  flex-direction: column;
}
#menu a {
  margin: 5px 0px;
  width: 60%;

  font-size: 1.3rem;
  text-align: justify;
  text-decoration: none;
  letter-spacing: 1px;
  color: blue;

  display: block;
}
#menu a:link {
  text-decoration: none;
  color: blue;
}
#menu a:hover {
  color: blueviolet;
}

main {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.contend {
  margin: 0px 0px;
  padding: 10px 0px;
  width: 100%;

  text-align: left;
}
#nav {
  order: 0;
}
#nav img {
  height: 30vw;
  width: 45vw;
}
#nav p, #nav ul{
  display: inline-block;
}
#table {
  order: 2;
}
#table table {
  border-collapse: collapse;
  display: inline-block;
}
#table table th, #table table td {
  border: 1px solid black;
  padding: 15px;
}
#table tr:nth-child(2n) {
  background: #DDD;
}
#table tr:nth-child(2n-1) {
  background: #AAA;
}
#table tr:first-child {
  background: #BCA;
}
#form {
  order: 1;
}

footer {
  width: 100%;
  min-height: 150px;
  background: gray;
}

@media screen and (min-width: 960px) {
  header {
    padding: 15px calc(50% - 960px/2 - 1px);
    width: 960px;
  }
  header h1 {
    margin: 20px 10px;
  
    font-size: 3em;
  }

  #menu {
    flex-direction: row;
    height: 30px;
    
    text-align: center;
  }
  #menu a {
    margin: 0px 10%;
    width: 13.3%;

    font-size: 1.5rem;
    text-align: center;
  }

  .contend {
    margin: 30px auto;
    padding: 10px 25px;
    width: 960px;

    text-align: center;
  }

  #nav {
    order: 0;
  }
  #nav img {
    height: 200px;
    width: 300px;
  }
  #table {
    order: 0;
  }
  #form {
    order: 0;
  }

  footer {
    margin: 10px 0px;
    border: 1px solid black;
    padding: 35px 15px;
    width: calc(100% - 30px - 2px);
  }
}
